.masthead {
  background-image: url("https://www.ocu.org/-/media/ocu/images/home/coches/coches/top%20venta%20coches%202019.jpg?rev=686f6003-8b31-4495-a249-3e027da2ad3d&hash=F75EDCE3CA8434399E06C9C29FDD2E26");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
